doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/menuIndex.css')
  title Doctor Dashboard

.lab
.doctor
.menu
  nav.menu
    input#menu-open.menu-open(type='checkbox' href='#' name='menu-open')
    label.menu-open-button(for='menu-open')
    a.menu-item.blue(href='#')
      i.fa.fa-anchor
    a.menu-item.red(href="/view")
      i.fa.fa-heart
    a.menu-item.orange(href='/graph')
      i.fa.fa-star



